<div id="chat-container" class="chat-container" data-room-id={@room.id}>
  <div id="messages-list" class="messages-list">
    <!-- 메시지들이 여기에 동적으로 추가됩니다. -->
  </div>
  <form id="message-input-form" class="message-input-form">
    <input type="text" id="message-input" placeholder="메시지를 입력하세요..." autocomplete="off" />
    <button type="submit" id="send-button">전송</button>
  </form>
</div> 